/* -------General------- */

body {
    font-family: "Inter Tight", sans-serif;
}

/* -------Backgrounds------- */
.background-burger {
    background-image: linear-gradient(rgba(0, 0, 0 , 0.5),     rgba(0, 0, 0, 0.5)), url(./images/desktop-background.jpg);
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 800px) {

    .background-burger{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),     rgba(0, 0, 0, 0.5)), url(./images/mobile-background.jpg);
    }
}

/* -------Title------- */

.title {
    position: relative;
    font-family: "Fugaz One", sans-serif;
    padding: 10px;
    color: darkgrey;
    font-size: 75px;
}

/* -------generator------- */

.generator{
    padding: 30px;
}

.text-area div {
    color: black;
    background-color: #fafafa;
    font-size: 30px;
    font-family: "Inter Tight", sans-serif;
    padding: 10px;
}

.generator-button {
    font-family: "Fugaz One", sans-serif;
    height: auto;
    font-size: 33px;
    border-radius: 25px;
    margin: 5px 0;
}

.meal-button {
    font-family: "Fugaz One", sans-serif;
    height: auto;
    font-size: 33px;
    border-radius: 25px;
    margin: 5px 0;
}

.row {
    padding: 20px;
}

/* -------footer------- */

footer {
color: #fafafa;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
padding-top: 40px;
}

footer div a {
    text-decoration: none;
    color: #fafafa;
}

footer i {
    font-size: 40px;
}
@media only screen and (max-width: 800px) {
    footer i {
        font-size: 15px;
    }
}
