/* -------General------- */

body {
    font-family: "Inter Tight", sans-serif;
}

/* -------Backgrounds------- */
.background-burger {
    background-image: url(./images/desktop-background.jpg);
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 800px) {

    .background-burger{
        background-image: url(./images/mobile-background.jpg);
    }
}

/* -------Title------- */

.title {
    position: relative;
    font-family: "Fugaz One", sans-serif;
    padding: 10px;
    color: darkgrey;
    font-size: 75px;
}

/* -------generator------- */

.generator{
    padding: 30px;
}

.text-area div {
    color: black;
    background-color: #fafafa;
    font-size: 30px;
    font-family: "Inter Tight", sans-serif;
    padding: 10px;
}

.generator-button {
    font-family: "Fugaz One", sans-serif;
    height: auto;
    font-size: 33px;
    border-radius: 25px;
    margin: 5px 0;
}

.meal-button {
    font-family: "Fugaz One", sans-serif;
    height: auto;
    font-size: 33px;
    border-radius: 25px;
    margin: 5px 0;
}

.row {
    padding: 20px;
}

